# Ignorer les fichiers et dossiers Vagrant
.vagrant/

# Ignorer les fichiers de clés SSH
*.pub
*.pem
id_rsa*
master_id_rsa.pub

# Ignorer les fichiers temporaires et logs
*.log
*.tmp
*.swp

# Ignorer les fichiers spécifiques à l'OS
.DS_Store
Thumbs.db

# Ignorer les dossier de chapitre
#chapitre-*/**